html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}

button {

    display: block;
    background-color: azure;
    padding: 10px;
    border-radius: 0.5em;
}